langgraph==1.2.11
langchain==1.4.0
langchain-groq==1.1.3
langchain-community==0.4.2
langchain-tavily==0.2.18

psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres==3.1.2

python-dotenv==1.2.3
tavily-python==0.8.2
requests==2.34.2

airportsdata==20260905
pycountry==26.2.16

fastapi==0.141.1
uvicorn==0.52.4
jinja2==3.1.6